
.formControl.error input,
.formControl.error textarea
{
    border: 2px solid red;
}


.formControl.error span
{
    color: red;
}

.formCommonError {
    border: 1px red solid;
    width: fit-content;
    padding: 5px;
    color: red;
}