/*.pageProfileInfo{
    display: grid;

}*/

.profileImg img {
    width: 100%;
}

.description{
    padding: 10px;
    display: flex;
}
.photo{
    display: grid;
}
.avaProfile{
    width: 200px;
    height: 200px;
}
.infoProfile{
    padding-left: 10px;
}
.name{
    font-weight: bold;
}
.aboutMe{
    padding-top: 5px;
}

.contact{

}

