.item {
    display: grid;
    color: black;
    padding-top: 10px;
    margin-top: 5px;

}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item span {
    color: red;
    align-items: flex-end;
}

.messagePost{
    margin: 5px;
}

.avaPost{
    display: flex;
    align-items: center;
}
/*

.app-wrapper {

    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
     "h h"
     "n c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: grey;
    padding: 0px;
}*/
