.content {
    display: grid;
    grid-template-columns: 20fr 80fr;
}


.dialogs {
    padding: 10px;
    background-color: darkgray;
    /*text-decoration: none;*/
}


/*.dialogs .active {
    color: gold;
}*/

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.messageSend{
    display: flex;
    margin: 5px;
}

.textarea{
    width: 90%;
}

.button{
    width: 10%;
}