.MessageItem {
    display: flex;
    word-wrap: break-word;

}

.message {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(160,87,208,0.6);
    padding: 5px;
    word-wrap: break-word;
    max-width: fit-content;
}

.sender{
    justify-content: flex-start;

}

.receiver{
    justify-content: flex-end;

}